//-
  modules/partners-list.html
  Standart_project v0.6.0
  .partners-list - модуль Партнеры, описание плиткой
  .js-height - минимальная высота блока с картинкой в одном ряду расставляется скриптом
  .js-trg - блок для которого выставляется минимальная высота в ряду
.h2
  | Партнеры в Минской области
.partners-list.js-height
  .row.row-clear
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-10.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          br
          |                     Телефон: +7 499 653-66-36
          br
          |                     Факс: +7 499 653-66-36
          br
          |                     Эл. почта:
          =' '
          a(href='mailto:info@ter-m.ru') info@ter-m.ru
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-11.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
          br
          |                     Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          br
          |                     +7 499 653-66-36
          br
          |                     Эл. почта:
          =' '
          a(href='mailto:info@ter-m.ru') info@ter-m.ru
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-12.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
          br
          |                     Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-10.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЧТПУП ООО О-ЛО-ЛО «БарановичиСпецМебель»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
          br
          |                     ул. Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          |                     +7 499 653-66-36
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-11.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          |                     Телефон: +7 499 653-66-36
          |                     Факс: +7 499 653-66-36
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-13.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-14.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
          br
          |                     ул. 1905 года, дом 7, стр. 1 Москва, 123995 Россия
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-15.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
          br
          |                     ул. Антоновича (Горького), 26/26, кв. 33 Киев, 01004 Украина
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-16.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
          br
          |                     125 Maiden Lane Suite 309 New York, NY, 10038 USA
.h3
  | Партнеры в Минской области
.partners-list.js-height
  .row.row-clear
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-10.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-11.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-12.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-13.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-14.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-15.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-16.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-10.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-11.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Альфа-Банк»
        .text
          a(href='http://alfabank.by', target='_blank')
            | alfabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-12.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-13.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-14.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-15.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-16.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ЗАО «Дельта Банк»
        .text
          a(href='http://deltabank.by', target='_blank')
            | deltabank.by
            i.icon.svg-blank
    .item.col-md-4.col-sm-6.col-12
      .pic.js-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-10.jpg', alt='partners', title='partners')
      .wrap.break-word
        .title
          | ОАО «БПС-Сбербанк»
        .text
          a(href='http://bpsb.by', target='_blank')
            | bpsb.by
            i.icon.svg-blank