//-
  modules/personal-list.html
  Standart_project v0.6.0
  .personal-list - модуль Сотрудники, описание плиткой
  .js-height - минимальная высота блока с картинкой в одном ряду расставляется скриптом
  .js-trg - блок для которого выставляется минимальная высота в ряду
p
  | Помимо грамотного руководства компанией, одним из важнейших слагаемых успеха предприятия является сильная маркетинговая политика. Сегодня коллектив предприятия насчитывает более 40 человек. Практически все специалисты имеют высшее образование. Значительная часть сотрудников работает в ООО «СТРОКА» с первого дня ее существования.
.h3
  | Плиточное представление списка сотрудников с малым
  | количеством контента (H3)
.personal-list.js-height.js-hover
  .row.row-clear
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-1.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Кижук Александр Евгеньевич
      .caption-text
        p
          | Генеральный директор ОАО «Криница»
        p
          | Телефон: +375 (17) 299-22-22
    .item.col-md-4.col-sm-6.col-12
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              i.icon
              img(src=DB.DIR + 'img/tmp/modules/personal-2.jpg', alt='personal', title='personal')
        .title
          | Вакульчук Лидия Алексеевна
      .caption-text
        p
          | Заместитель генерального директора ОАО «Криница» по идеологической работе и персоналу
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-3.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Елена Грэйди
      .caption-text
        p
          | Основатель, Совладелец и Генеральный Директор Холдинга Red Square Holdings
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-4.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Винар Валерий Николаевич
      .caption-text
        p
          | Главный инженер ОАО «Белшина»
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-5.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Белякова Татьяна Николаевна
      .caption-text
        p
          | Заместитель генерального директора ОАО «Белшина» по экономике и финансам
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-6.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Кристина Колпакова
      .caption-text
        p
          | Главный диспетчер
.h3
  | Управление договорной и общеправовой работы (h3)
.personal-list.js-height.js-hover
  .row.row-clear
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-4.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Винар Валерий Николаевич
      .caption-text
        p
          | Главный инженер ОАО «Белшина»
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-5.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Белякова Татьяна Николаевна
      .caption-text
        p
          | Заместитель генерального директора ОАО «Белшина» по экономике и финансам
    .item.col-md-4.col-sm-6.col-12.js-hover-wrap
      .wrap
        .pic-wrap.js-trg
          .pic_o
            .pic
              a.link.js-hover-trg(href='#')
                i.icon
                img(src=DB.DIR + 'img/tmp/modules/personal-6.jpg', alt='personal', title='personal')
        .title
          a.js-hover-trg(href='#')
            | Кристина Колпакова
      .caption-text
        p
          | Главный диспетчер