.catalog-main(class=(DB.catalogMainWithPhoto === false) ? 'no-pic' : '')
  if (DB.catalogMainWithCategory === true)
    .title-cat
      a(href='#') Категория самых лучших товаров
  .list_1.row.row-clear.js-width
    .item_1.col-12.col-lg-6
      .media
        if (DB.catalogMainWithPhoto === true)
          .media-left.js-width-trg
            img(src=DB.DIR + 'img/tmp/catalog/catalog-1.jpg', alt='Каталог', title='Каталог')
        .media-body
          .title
            a(href='#') Автоэлектроника
          ul.list_2.list-reset
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
          if (DB.catalogMainWithText === true)
            .text
              | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
    .item_1.col-12.col-lg-6
      .media
        if (DB.catalogMainWithPhoto === true)
          .media-left.js-width-trg
            img(src=DB.DIR + 'img/tmp/catalog/catalog-2.jpg', alt='Каталог', title='Каталог')
        .media-body
          .title
            a(href='#') Спортивные товары
          ul.list_2.list-reset
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
          if (DB.catalogMainWithText === true)
            .text
              | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
    .item_1.col-12.col-lg-6
      .media
        if (DB.catalogMainWithPhoto === true)
          .media-left.js-width-trg
            img(src=DB.DIR + 'img/tmp/catalog/catalog-3.jpg', alt='Каталог', title='Каталог')
        .media-body
          .title
            a(href='#') Бытовая техника
          ul.list_2.list-reset
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
          if (DB.catalogMainWithText === true)
            .text
              | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
    .item_1.col-12.col-lg-6
      .media
        if (DB.catalogMainWithPhoto === true)
          .media-left.js-width-trg
            img(src=DB.DIR + 'img/tmp/catalog/catalog-4.jpg', alt='Каталог', title='Каталог')
        .media-body
          .title
            a(href='#') Спортивные товары
          ul.list_2.list-reset
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
          if (DB.catalogMainWithText === true)
            .text
              | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
    .item_1.col-12.col-lg-6
      .media
        if (DB.catalogMainWithPhoto === true)
          .media-left.js-width-trg
            img(src=DB.DIR + 'img/tmp/catalog/catalog-1.jpg', alt='Каталог', title='Каталог')
        .media-body
          .title
            a(href='#') Спортивные товары
          ul.list_2.list-reset
            li.item_2
              a(href='#')
                span.link-text GPS-навигаторы
                sup 5
            li.item_2
              a(href='#')
                span.link-text Видеорегистраторы
                sup 4
            li.item_2
              a(href='#')
                span.link-text Акустика
                sup 7
          if (DB.catalogMainWithText === true)
            .text
              | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
  if (DB.catalogMainWithCategory === true)
    .title-cat
      span Категория не самых лучших товаров
    .list_1.row.row-clear.js-width
      .item_1.col-12.col-lg-6
        .media
          if (DB.catalogMainWithPhoto === true)
            .media-left.js-width-trg
              img(src=DB.DIR + 'img/tmp/catalog/catalog-1.jpg', alt='Каталог', title='Каталог')
          .media-body
            .title
              a(href='#') Автоэлектроника
            ul.list_2.list-reset
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
            if (DB.catalogMainWithText === true)
              .text
                | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
      .item_1.col-12.col-lg-6
        .media
          if (DB.catalogMainWithPhoto === true)
            .media-left.js-width-trg
              img(src=DB.DIR + 'img/tmp/catalog/catalog-2.jpg', alt='Каталог', title='Каталог')
          .media-body
            .title
              a(href='#') Спортивные товары
            ul.list_2.list-reset
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
            if (DB.catalogMainWithText === true)
              .text
                | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
      .item_1.col-12.col-lg-6
        .media
          if (DB.catalogMainWithPhoto === true)
            .media-left.js-width-trg
              img(src=DB.DIR + 'img/tmp/catalog/catalog-3.jpg', alt='Каталог', title='Каталог')
          .media-body
            .title
              a(href='#') Бытовая техника
            ul.list_2.list-reset
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
            if (DB.catalogMainWithText === true)
              .text
                | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
      .item_1.col-12.col-lg-6
        .media
          if (DB.catalogMainWithPhoto === true)
            .media-left.js-width-trg
              img(src=DB.DIR + 'img/tmp/catalog/catalog-4.jpg', alt='Каталог', title='Каталог')
          .media-body
            .title
              a(href='#') Спортивные товары
            ul.list_2.list-reset
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
            if (DB.catalogMainWithText === true)
              .text
                | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.
      .item_1.col-12.col-lg-6
        .media
          if (DB.catalogMainWithPhoto === true)
            .media-left.js-width-trg
              img(src=DB.DIR + 'img/tmp/catalog/catalog-1.jpg', alt='Каталог', title='Каталог')
          .media-body
            .title
              a(href='#') Спортивные товары
            ul.list_2.list-reset
              li.item_2
                a(href='#')
                  span.link-text GPS-навигаторы
                  sup 5
              li.item_2
                a(href='#')
                  span.link-text Видеорегистраторы
                  sup 4
              li.item_2
                a(href='#')
                  span.link-text Акустика
                  sup 7
            if (DB.catalogMainWithText === true)
              .text
                | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.