include ../../../../components/base/btns/btn/index
mixin sl-main(data)
  .sl-main(class=data.modifier ? data.modifier : '')
    .wrap.cursor.inited-not(class=data.fullWrap === true ? 'full-wrap' : '')
      .slider
        each slide in data.slides
          .slide
            .inner
              .bg(style=(slide.pic ? 'background-image: url(' + DB.DIR + slide.pic + ')' : ''))
              .container
                .b-wrap
                  .h1.title !{slide.title ? slide.title : 'Заголовок слайда'}
                  if (slide.text)
                    p.text !{slide.text}
                  if (slide.btnText)
                    .btn-wrap.d-none.d-md-block
                      +btn-light({text: slide.btnText, className: 'sl-main-btn', outline: true})
                  if (slide.btnTextMob)
                    .btn-wrap.d-block.d-md-none
                      +btn-primary({text: slide.btnTextMob, className: 'sl-main-btn'})
                .b-bottom
                  .b-bottom-wrap
                    .b-bottom-left
                      .slide-counter
                        span.current-slide 00
                      .text-2-wrap
                        .text-2 Онлайн-калькулятор для расчета стоимости доставки в любую точку мира
                        a(href='#').link
                          | Подробнее
                          .icon.svg-sl-main-link-arrow
                    .b-bottom-right
                      if (data.fullWrap !== true && data.nav !== undefined)
                        +#{data.nav}()
      if (data.pager !== undefined)
        +#{data.pager}()
      if (data.fullWrap === true && data.nav !== undefined)
        +#{data.nav}()