.catalog-table
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-7.jpg', alt='element', title='element')
        include ../element-sale2/index
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-8.jpg', alt='element', title='element')
        include ../element-sale2/index
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
            | Куртка спортивная
        .text
          | Ritmix AVR-330 – это экономичный автомобильный видеорегистратор* с полным набором базовых функций (цветной TFT-дисплей, режим ночной съемки, встроенный аккумулятор). Максимальное разрешение видео 1280x960 достигается средствами интерполяции и обеспечивает возможность распознания автомобильного номера на расстоянии 1-3 м.
      .price-wrap
        .price
          | 1008000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-9.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-10.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-11.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-12.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-13.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-8.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить
  .item
    .wrap
      .pic
        a(href='#')
          img(src=DB.DIR + 'img/tmp/catalog/catalog-11.jpg', alt='element', title='element')
      .descr-wrap
        .title
          a(href='#')
            | Куртка спортивная
      .price-wrap
        .price
          | 8000 руб.
        .price-old
          | 10000 руб.
      .buy
        include ../item-quantity/index
        +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
        .btn-b
          a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='755', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
            | Купить в 1 клик
        label.label_compare
          input.ui-checkbox.db_compare(type='checkbox')
          span Сравнить