.clients
  .row
    .col-lg-5.col-md-12.col-12.clients__left-info
      .clients__title Наши клиенты
      .clients__text
        | На сегодняшний день список наших клиентов состоит из 
        span 13.223
        =' '
        | организаций разных форм собственности
    .col-lg-7.col-md-12.col-12
      .clients__logos
        .row.clients__row
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-dobronom.png', alt='alt', title='title')
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-martin.png', alt='alt', title='title')
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-doros.png', alt='alt', title='title')
        .row.clients__row
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-belmarket.png', alt='alt', title='title')
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-materic.png', alt='alt', title='title')
          .col-4.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-gippo.png', alt='alt', title='title')
        .row.clients__row
          .col-6.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-rublevsky.png', alt='alt', title='title')
          .col-6.clients__col.item
            .clients__logo
              img.clients__img(src=DB.DIR + 'img/tmp/clients-evroopt.png', alt='alt', title='title')