.logo-desk(class=DB.layout !== 'simple' ? '' : 'simple')
  .pic
    #{DB.isMain === true ? 'span' : 'a'}&attributes(DB.isMain === true ? {} : { 'href': '/' })
        img.img-black(src=DB.DIR + 'img/logo-png.svg', alt=DB.companyName)
        img.img-white(src=DB.DIR + 'img/logo-png-white.svg', alt=DB.companyName)