link(rel='apple-touch-icon', sizes='180x180', href=DB.DIR + 'manifest/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href=DB.DIR + 'manifest/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href=DB.DIR + 'manifest/favicon-16x16.png')
link(rel='manifest', href=DB.DIR + 'manifest/manifest.json')
link(rel='shortcut icon', href=DB.DIR + 'manifest/favicon.ico')
meta(name='msapplication-TileColor', content='#{$brand-1}')
meta(name='msapplication-TileImage', content=DB.DIR + 'manifest/mstile-144x144.png')
meta(name='msapplication-config', content=DB.DIR + 'manifest/browserconfig.xml')
meta(name='theme-color', content='#{$brand-1}')