include ../../../components/base/btns/btn/index
.catalog-block.js-height
  .row.row-clear
    .item.col-md-4.col-12
      .wrap
        .element-sale
          .icon.percent
          .icon.new
          .icon.sale
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-8.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-7.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .characters
          span
            | 15-24000 Гц,
            =' '
          span
            | 60 Ом,
            =' '
          span
            | кабель 1м,
            =' '
          span
            | штекер 3.5 мм
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .element-sale
          .icon.percent
          .icon.new
          .icon.sale
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-9.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Перчатка спортивная  Перчатка спортивная  Перчатка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-10.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .characters
          span.title-help
            | Арт. 2285756,
            =' '
          span
            | кабель 1 м
        .price-wrap
          .price-old
            | 9520 р.
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .element-sale
          .icon.percent
          .icon.new
          .icon.sale
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-11.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная 1
        .characters
          span
            | 15-24000 Гц,
            =' '
          span
            | 60 Ом,
            =' '
          span
            | кабель 1м,
            =' '
          span
            | штекер 3.5 мм,
            =' '
          span
            | пульт...
        .price-wrap
          .price-old
            | 9520 р.
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-12.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Перчатка спортивная  Перчатка спортивная  Перчатка спортивная
        .characters
          span.title-help
            | Арт. 2285756
        .price-wrap
          .price-old
            | 107520 р
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-13.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-7.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить
    .item.col-md-4.col-12
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-8.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Перчатка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          include ../item-quantity/index
          .btn-b
            +btn-primary({className: 'btn-xs btn-buy', text: 'В корзину'})(href='javascript:void(0)')
          .btn-b
            a.lnk-pseudo.buy-one-click(href='javascript:void(0)', data-id='341', data-type='catalog', data-toggle='modal', data-target='#buyOneClickForm')
              | Купить в 1 клик
          label.label_compare
            input.ui-checkbox.db_compare(type='checkbox')
            span Сравнить