include ../../../block/b-title/index
if (goods2 === undefined)
	- 
		var goods2 = [
			{
				img: 'img/tmp/goods-2-0.jpg',
				subtitle: 'Сыр мягкий',
				title: 'Маскарпоне',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-1.jpg',
				subtitle: 'Сыр мягкий и полутвердый',
				title: 'Моцарелла',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-2.jpg',
				subtitle: 'Сыр мягкий',
				title: 'Кремчиз',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-3.jpg',
				subtitle: 'Сыр твердый',
				title: 'Провола',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-4.jpg',
				subtitle: 'Сыр полутвердый',
				title: 'Скаморца',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-5.jpg',
				subtitle: 'Сыр мягкий',
				title: 'Маскарпоне',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-5.jpg',
				subtitle: 'Сыр мягкий',
				title: 'Рикоттина',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			},
			{
				img: 'img/tmp/goods-2-7.jpg',
				subtitle: 'Сыр полутвердый',
				title: 'Проволетта',
				descr: 'Классическая провола — грушевидной формы, иногда в виде шара, но всегда различных весов: от самых маленьких по 10-15 грамм, до нескольких килограмм. Провола маленьких размеров называется проволетта.',
				btn: 'Посмотреть в каталоге'
			}
		];
.goods-2
	.title-wrap
		+b-title({
				title: 'Наши сыры',
				titleH: 'h1',
				titleIsLink: true,
				descr: 'Свежие мягкие и&nbsp;полутвердые сыры ежедневного потребления, произведенные по&nbsp;итальянским технологиям. Для производства используется свежее молоко сортов экстра и&nbsp;высший'
		})
	.list-item
		each item in goods2
			.item
				a(href='#')
					img.img(src=DB.DIR + item.img, alt=item.title)
					.title_wrap
						.wrap
							.subtitle #{item.subtitle}
							.title #{item.title}
							.descr
								.text #{item.descr}
								.b-btn
									.btn.btn-primary #{item.btn}