.goods
  .list-item
    .item.item-lg
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-0.jpg', alt='goods')
        .h2.title.ttl-bot Ноутбуки-транформеры
    .item
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-1.jpg', alt='goods')
        .h2.title.ttl-bot Видеокамеры
    .item.item-sm
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-2.jpg', alt='goods')
        .h2.title Эпиляторы
    .item.item-sm
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-2.jpg', alt='goods')
        .h2.title Эпиляторы
    .item
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-3.jpg', alt='goods')
        .h2.title Детские кроватки
    .item
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-4.jpg', alt='goods')
        .h2.title Автокресла
    .item.item-sm
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-6.jpg', alt='goods')
        .h2.title Парфюмерия
    .item.right
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-7.jpg', alt='goods')
        .h2.title Грили и мангалы
    .item.item-sm.right
      a.inner(href='#')
        img.img(src=DB.DIR + 'img/tmp/goods-5.jpg', alt='goods')
        .h2.title Вентиляторы